# **Top 25 T-SQL Tips!!!**

The following 25 tips were tested and executed using SQL 2022 and a modifed version of the sample Northwind database. These queries are focused on the DQL functionality within SQL. DQL stands for Data Query Language. It is one of the subset languages of SQL (Structured Query Language) used to perform queries within the database.Â Â 

Database file used is Northwind\_2003

The tips listed will be coded as by number of rockets:

ðŸš€- Beginner

ðŸš€ðŸš€ - Intermediate

ðŸš€ðŸš€ðŸš€ - Advanced

# ðŸš€**1.Â Using SELECT DISTINCT and CONCAT FUNCTIONS to return names, birthdate, cityÂ  Â  Â  Â  Â  Â  Â and Country of Employee**

<span style="color: #0000ff;">USE Northwind_2023;</span>

GO

<span style="color: #0000ff;">SELECT DISTINCT</span> <span style="color: #795e26;">CONCAT</span>(FirstName, <span style="color: #a31515;">' '</span>, LastName) <span style="color: #0000ff;">AS</span> FullName

Â  Â  Â  Â  Â  Â  Â  Â  Â  Â  ,emp.BirthDate

Â  Â  Â  Â  Â  Â  Â  Â  Â  Â  ,emp.City

Â  Â  Â  Â  Â  Â  Â  Â  Â  Â  ,emp.Country

<span style="color: #0000ff;">FROM</span> dbo.Employees emp;

In [34]:
SELECT DISTINCT TOP 5 CONCAT(FirstName, ' ', LastName) AS FullName
					,emp.BirthDate
					,emp.City
					,emp.Country
FROM dbo.Employees emp;

FullName,BirthDate,City,Country
Andrew Fuller,1977-02-19 00:00:00.000,Tacoma,USA
Anne Dodsworth,1991-01-27 00:00:00.000,London,UK
Janet Leverling,1988-08-30 00:00:00.000,Kirkland,USA
Laura Callahan,1983-01-09 00:00:00.000,Seattle,USA
Margaret Peacock,1962-09-19 00:00:00.000,Redmond,USA

# ðŸš€Â **2.Â <span style="color: var(--vscode-foreground);">Using GROUP BY and ORDER BY to select top products by average price</span>**

<span style="color: #0000ff;">SELECT</span> ProductID,

Â  Â  <span style="color: #795e26;">AVG</span>(UnitPrice) <span style="color: #0000ff;">AS</span> AveragePrice,

Â  Â  <span style="color: #795e26;">SUM</span>(Quantity) <span style="color: #0000ff;">AS</span> TotalQuantity

<span style="color: #0000ff;">FROM</span>

Â  Â  OrderDetails

<span style="color: #0000ff;">GROUP BY</span>

Â  Â  ProductID

<span style="color: #0000ff;">ORDER BY</span>

Â  Â  AveragePrice <span style="color: #0000ff;">DESC</span>;

In [39]:
SELECT TOP 5 
    ProductID, 
    AVG(UnitPrice) AS AveragePrice, 
    SUM(Quantity) AS TotalQuantity
FROM 
    OrderDetails
GROUP BY 
    ProductID
ORDER BY 
    AveragePrice DESC;

ProductID,AveragePrice,TotalQuantity
38,245.9333,623
29,116.0431,746
9,93.12,95
20,75.9375,313
18,59.7222,539

# ðŸš€**3\. Filtering data using WHERE clause**

<span style="color: #0000ff;">SELECT</span> FirstName, LastName, Title

<span style="color: #0000ff;">FROM</span> Employees emp

<span style="color: #0000ff;">WHERE</span> Title <span style="color: #000000;">=</span> <span style="color: #a31515;">'Sales Representative'</span>;

<span style="color: #0000ff;">SELECT</span> ProductName, UnitPrice

<span style="color: #0000ff;">FROM</span> Products

<span style="color: #0000ff;">WHERE</span> UnitPrice <span style="color: #000000;">&gt;</span> <span style="color: #09885a;">100</span>;

In [10]:
SELECT FirstName, LastName, Title
FROM Employees emp
WHERE Title = 'Sales Representative';

SELECT ProductName, UnitPrice
FROM Products
WHERE UnitPrice > 100;

FirstName,LastName,Title
Nancy,Davolio,Sales Representative
Janet,Leverling,Sales Representative
Margaret,Peacock,Sales Representative
Michael,Suyama,Sales Representative
Robert,King,Sales Representative
Anne,Dodsworth,Sales Representative

ProductName,UnitPrice
ThÃ¼ringer Rostbratwurst,123.79
CÃ´te de Blaye,263.50

# ðŸš€4. To show all product name with their supplier name using JOIN FunctionðŸš€

<span style="color: #0000ff;">SELECT</span> Prod.ProductName

Â  Â  ,Sup.CompanyName

<span style="color: #0000ff;">FROM</span> Products prod

<span style="color: #0000ff;">INNER JOIN</span> Suppliers Sup <span style="color: #0000ff;">ON</span> Prod.SupplierID <span style="color: #000000;">=</span> Sup.SupplierID;

In [2]:
SELECT TOP 5 Prod.ProductName
    ,Sup.CompanyName
FROM Products prod
INNER JOIN Suppliers Sup ON Prod.SupplierID = Sup.SupplierID;

ProductName,CompanyName
Chai,Exotic Liquids
Chang,Exotic Liquids
Aniseed Syrup,Exotic Liquids
Chef Anton's Cajun Seasoning,New Orleans Cajun Delights
Chef Anton's Gumbo Mix,New Orleans Cajun Delights

# ðŸš€**5\. Top 5 Products with highest total revenue (UnitPrice\*Quantity)**

<span style="color: #0000ff;">SELECT</span> ProductID

Â  Â  Â  Â ,SUM(UnitPrice <span style="color: #000000;">*</span> Quantity) <span style="color: #0000ff;">AS</span> TotalRevenue

<span style="color: #0000ff;">FROM</span> OrderDetails

<span style="color: #0000ff;">GROUP BY</span> ProductID

<span style="color: #0000ff;">ORDER BY</span> TotalRevenue <span style="color: #0000ff;">DESC</span>;

In [38]:
SELECT TOP 5 ProductID
            ,SUM(UnitPrice * Quantity) AS TotalRevenue
FROM OrderDetails
GROUP BY ProductID
ORDER BY TotalRevenue DESC;

ProductID,TotalRevenue
38,149984.20
29,87736.40
59,76296.00
60,50286.00
62,49827.90

# ðŸš€**6.Â  To get a list of customers who never placed an order**ðŸš€

<span style="color: #0000ff;">SELECT</span> CustomerID

,CompanyName

,ContactName

,ContactTitle

,City, Country

<span style="color: #0000ff;">FROM</span> Customers

<span style="color: #0000ff;">WHERE</span> CustomerID <span style="color: #0000ff;">NOT</span> <span style="color: #0000ff;">IN</span> (<span style="color: #0000ff;">SELECT DISTINCT</span> CustomerID <span style="color: #0000ff;">FROM</span> Orders);

In [4]:
SELECT CustomerID
,CompanyName
,ContactName
,ContactTitle
,City, Country
FROM Customers
WHERE CustomerID NOT IN (SELECT DISTINCT CustomerID FROM Orders);

CustomerID,CompanyName,ContactName,ContactTitle,City,Country
FISSA,FISSA Fabrica Inter. Salchichas S.A.,Diego Roel,Accounting Manager,Madrid,Spain
PARIS,Paris spÃ©cialitÃ©s,Marie Bertrand,Owner,Paris,France

# ðŸš€**7\. To Find the product with the highest number of orders**ðŸš€

<span style="color: #0000ff;">SELECT</span> ProductID, <span style="color: #795e26;">COUNT</span>(OrderID) <span style="color: #0000ff;">AS</span> OrderCount

<span style="color: #0000ff;">FROM</span> OrderDetails

<span style="color: #0000ff;">GROUP BY</span> ProductID

<span style="color: #0000ff;">ORDER BY</span> OrderCount <span style="color: #0000ff;">DESC</span>;

In [5]:
SELECT TOP 1 ProductID, COUNT(OrderID) AS OrderCount
FROM OrderDetails
GROUP BY ProductID
ORDER BY OrderCount DESC;

ProductID,OrderCount
59,54

# ðŸš€**8\. To get a list of customers with most recent order dates**ðŸš€

<span style="color: #0000ff;">SELECT</span> CustomerID

Â  Â  Â  Â  ,<span style="color: #795e26;">MAX</span>(OrderDate) <span style="color: #0000ff;">AS</span> MostRecentOrder

<span style="color: #0000ff;">FROM</span> Orders

<span style="color: #0000ff;">GROUP BY</span> CustomerID;

In [7]:
SELECT TOP 5 CustomerID
        ,MAX(OrderDate) AS MostRecentOrder
FROM Orders
GROUP BY CustomerID;

CustomerID,MostRecentOrder
ALFKI,2023-04-09 00:00:00.000
ANATR,2023-03-04 00:00:00.000
ANTON,2023-01-28 00:00:00.000
AROUT,2023-04-10 00:00:00.000
BERGS,2023-03-04 00:00:00.000

# ðŸš€**9\. To know the quantity sold and total revenue generated for each product category**ðŸš€

<span style="color: #0000ff;">ELECT</span> Cat.CategoryName

Â  Â  Â  Â ,<span style="color: #795e26;">SUM</span>(Ord.Quantity) <span style="color: #0000ff;">AS</span> TotalQuantity,

Â  Â  Â  Â <span style="color: #795e26;">SUM</span>(Ord.UnitPrice <span style="color: #000000;">*</span> Ord.Quantity) <span style="color: #0000ff;">AS</span> TotalRevenue

<span style="color: #0000ff;">FROM</span> OrderDetails Ord

<span style="color: #0000ff;">JOIN</span> Products prod <span style="color: #0000ff;">ON</span> Ord.ProductID <span style="color: #000000;">=</span> Prod.ProductID

<span style="color: #0000ff;">JOIN</span> Categories Â Cat <span style="color: #0000ff;">ON</span> Prod.CategoryID <span style="color: #000000;">=</span> Cat.CategoryID

<span style="color: #0000ff;">GROUP BY</span> Cat.CategoryName;

In [9]:
SELECT Cat.CategoryName
       ,SUM(Ord.Quantity) AS TotalQuantity, 
       SUM(Ord.UnitPrice * Ord.Quantity) AS TotalRevenue
FROM OrderDetails Ord
JOIN Products prod ON Ord.ProductID = Prod.ProductID
JOIN Categories  Cat ON Prod.CategoryID = Cat.CategoryID
GROUP BY Cat.CategoryName;

CategoryName,TotalQuantity,TotalRevenue
Seafood,7681,141623.09
Meat/Poultry,4199,178188.80
Condiments,5298,113694.75
Confections,7906,177099.10
Produce,2990,105268.60
Dairy Products,9149,251330.50
Beverages,9532,286526.95
Grains/Cereals,4562,100726.80

# ðŸš€**10\. To know the shipping destination and month and year having the highest numberÂ  Â  Â  Â  of orders**

<span style="color: #0000ff;">SELECT</span> <span style="color: #0000ff;">TOP</span> <span style="color: #09885a;">5</span> <span style="color: #795e26;">YEAR</span>(OrderDate) <span style="color: #0000ff;">AS</span> OrderYear, <span style="color: #795e26;">MONTH</span>(OrderDate) <span style="color: #0000ff;">AS</span> OrderMonth, <span style="color: #795e26;">COUNT</span>(OrderID) <span style="color: #0000ff;">AS</span> TotalOrders

Â  Â  Â  Â  ,ShipCountry

<span style="color: #0000ff;">FROM</span> Orders

<span style="color: #0000ff;">GROUP BY</span> <span style="color: #795e26;">YEAR</span>(OrderDate), <span style="color: #795e26;">MONTH</span>(OrderDate), ShipCountry

<span style="color: #0000ff;">ORDER BY</span> TotalOrders <span style="color: #0000ff;">DESC</span>;

In [11]:
SELECT TOP 5 YEAR(OrderDate) AS OrderYear, MONTH(OrderDate) AS OrderMonth, COUNT(OrderID) AS TotalOrders
		,ShipCountry
FROM Orders
GROUP BY YEAR(OrderDate), MONTH(OrderDate), ShipCountry
ORDER BY TotalOrders DESC;

OrderYear,OrderMonth,TotalOrders,ShipCountry
2023,4,12,USA
2022,10,11,USA
2023,4,11,Germany
2022,7,10,USA
2023,1,10,USA

# ðŸš€**11.Â Average Freight Charges for the Last 12 Months:**ðŸš€

<span style="color: #0000ff;">DECLARE</span> @MostRecentDate <span style="color: #0000ff;">DATE</span> <span style="color: #000000;">=</span> (<span style="color: #0000ff;">SELECT</span> <span style="color: #795e26;">MAX</span>(OrderDate) <span style="color: #0000ff;">FROM</span> Orders);

<span style="color: #0000ff;">SELECT</span> ShipCountry

> , <span style="color: #795e26;">AVG</span>(Freight) <span style="color: #0000ff;">AS</span> AverageFreight

<span style="color: #0000ff;">FROM</span> Orders

<span style="color: #0000ff;">WHERE</span> OrderDate <span style="color: #000000;">&gt;=</span> <span style="color: #795e26;">DATEADD</span>(<span style="color: #0000ff;">YEAR</span>, <span style="color: #000000;">-</span><span style="color: #09885a;">1</span>, @MostRecentDate)

<span style="color: #0000ff;">GROUP BY</span> ShipCountry

<span style="color: #0000ff;">ORDER BY</span> AverageFreight <span style="color: #0000ff;">DESC</span>;

In [13]:
DECLARE @MostRecentDate DATE = (SELECT MAX(OrderDate) FROM Orders);
SELECT TOP 3 ShipCountry, AVG(Freight) AS AverageFreight
FROM Orders
WHERE OrderDate >= DATEADD(YEAR, -1, @MostRecentDate)
GROUP BY ShipCountry
ORDER BY AverageFreight DESC;

ShipCountry,AverageFreight
Ireland,200.21
Austria,186.4596
USA,117.9704

# ðŸš€**12.Â Calculating average order total using a CTE**ðŸš€

<span style="color: #0000ff;">WITH</span> AvgOrderTotal <span style="color: #0000ff;">AS</span> (

Â  Â  <span style="color: #0000ff;">SELECT</span> OrderID

Â  Â  Â  Â  , <span style="color: #795e26;">SUM</span>(UnitPrice <span style="color: #000000;">*</span> Quantity) <span style="color: #0000ff;">AS</span> OrderTotal

Â  Â  <span style="color: #0000ff;">FROM</span> \[OrderDetails\]

Â  Â  <span style="color: #0000ff;">GROUP BY</span> OrderID

)

<span style="color: #0000ff;">SELECT</span> <span style="color: #795e26;">AVG</span>(OrderTotal) <span style="color: #0000ff;">AS</span> AvgOrderValue <span style="color: #0000ff;">FROM</span> AvgOrderTotal;

In [15]:
WITH AvgOrderTotal AS (
    SELECT OrderID
        , SUM(UnitPrice * Quantity) AS OrderTotal
    FROM [OrderDetails]
    GROUP BY OrderID
)
SELECT AVG(OrderTotal) AS AvgOrderValue FROM AvgOrderTotal;

AvgOrderValue
1631.8778

# ðŸš€**13.Â Using CASE to flag high value orders**ðŸš€ðŸš€

<span style="color: #0000ff;">SELECT</span> OrderID,

Â  Â  <span style="color: #795e26;">SUM</span>(UnitPrice <span style="color: #000000;">*</span> Quantity) <span style="color: #0000ff;">AS</span> OrderValue,

Â  Â  <span style="color: #0000ff;">CASE</span>

Â  Â  Â  Â  <span style="color: #0000ff;">WHEN</span> <span style="color: #795e26;">SUM</span>(UnitPrice <span style="color: #000000;">*</span> Quantity) <span style="color: #000000;">&gt;</span> <span style="color: #09885a;">1000</span> <span style="color: #0000ff;">THEN</span> <span style="color: #a31515;">'High-Value'</span>

Â  Â  Â  Â  <span style="color: #0000ff;">ELSE</span> <span style="color: #a31515;">'Regular'</span>

Â  Â  <span style="color: #0000ff;">END</span> <span style="color: #0000ff;">AS</span> OrderType

<span style="color: #0000ff;">FROM</span> \[OrderDetails\]

<span style="color: #0000ff;">GROUP BY</span> OrderID

<span style="color: #0000ff;">ORDER BY</span> OrderValue <span style="color: #0000ff;">DESC</span>;

In [16]:
SELECT TOP (5) 
    OrderID, 
    SUM(UnitPrice * Quantity) AS OrderValue,
    CASE 
        WHEN SUM(UnitPrice * Quantity) > 1000 THEN 'High-Value'
        ELSE 'Regular'
    END AS OrderType
FROM [OrderDetails]
GROUP BY OrderID
ORDER BY OrderValue DESC;

OrderID,OrderValue,OrderType
10865,17250.00,High-Value
11030,16321.90,High-Value
10981,15810.00,High-Value
10372,12281.20,High-Value
10424,11493.20,High-Value

# ðŸš€**14.Â Number of customers by customer type (individual, corporate,Â  enterprise)**ðŸš€

<span style="color: #0000ff;">ELECT</span> CustomerType,

Â  Â  Â  Â <span style="color: #795e26;">COUNT</span>(OrderID) <span style="color: #0000ff;">AS</span> TotalOrders

<span style="color: #0000ff;">FROM</span> (

Â  Â  <span style="color: #0000ff;">SELECT</span> CompanyName,

Â  Â  Â  Â  Â  Â <span style="color: #0000ff;">CASE</span> <span style="color: #0000ff;">WHEN</span> CompanyName <span style="color: #0000ff;">LIKE</span> <span style="color: #a31515;">'%Ltd%'</span> <span style="color: #0000ff;">THEN</span> <span style="color: #a31515;">'Corporate'</span>

Â  Â  Â  Â  Â  Â  Â  Â  <span style="color: #0000ff;">WHEN</span> CompanyName <span style="color: #0000ff;">LIKE</span> <span style="color: #a31515;">'%Inc%'</span> <span style="color: #0000ff;">THEN</span> <span style="color: #a31515;">'Enterprise'</span>

Â  Â  Â  Â  Â  Â  Â  Â  <span style="color: #0000ff;">ELSE</span> <span style="color: #a31515;">'Individuals'</span>

Â  Â  Â  Â  Â  Â <span style="color: #0000ff;">END</span> <span style="color: #0000ff;">AS</span> CustomerType,

Â  Â  Â  Â  Â  Â OrderID

Â  Â  <span style="color: #0000ff;">FROM</span> Customers c

Â  Â  <span style="color: #0000ff;">JOIN</span> Orders o <span style="color: #0000ff;">ON</span> c.CustomerID <span style="color: #000000;">=</span> o.CustomerID

) <span style="color: #0000ff;">AS</span> CustomerOrders

<span style="color: #0000ff;">GROUP BY</span> CustomerType;

In [18]:
SELECT CustomerType,
       COUNT(OrderID) AS TotalOrders
FROM (
    SELECT CompanyName,
           CASE WHEN CompanyName LIKE '%Ltd%' THEN 'Corporate'
                WHEN CompanyName LIKE '%Inc%' THEN 'Enterprise'
                ELSE 'Individuals'
           END AS CustomerType,
           OrderID
    FROM Customers c
    JOIN Orders o ON c.CustomerID = o.CustomerID
) AS CustomerOrders
GROUP BY CustomerType;

CustomerType,TotalOrders
Individuals,820
Corporate,5
Enterprise,5

# ðŸš€**15.Â  Order by Quater for Each Year showing overall highest total orders in all quaters**ðŸš€ðŸš€

<span style="color: #0000ff;">SELECT</span> <span style="color: #795e26;">YEAR</span>(OrderDate) <span style="color: #0000ff;">AS</span> <span style="color: #0000ff;">Year</span>

Â  Â  Â  Â  ,<span style="color: #795e26;">DATEPART</span>(<span style="color: #0000ff;">quarter</span>, OrderDate) <span style="color: #0000ff;">AS</span> <span style="color: #0000ff;">Quarter</span>,

Â  Â  Â  Â <span style="color: #795e26;">COUNT</span>(OrderID) <span style="color: #0000ff;">AS</span> Orders

<span style="color: #0000ff;">FROM</span> Orders

<span style="color: #0000ff;">GROUP BY</span> <span style="color: #795e26;">YEAR</span>(OrderDate), <span style="color: #795e26;">DATEPART</span>(<span style="color: #0000ff;">quarter</span>, OrderDate)

<span style="color: #0000ff;">ORDER BY</span> Orders <span style="color: #0000ff;">DESC</span>;

In [19]:
SELECT TOP (5) YEAR(OrderDate) AS Year
        ,DATEPART(quarter, OrderDate) AS Quarter,
       COUNT(OrderID) AS Orders
FROM Orders
GROUP BY YEAR(OrderDate), DATEPART(quarter, OrderDate)
ORDER BY Orders DESC;

Year,Quarter,Orders
2023,1,182
2022,4,120
2022,3,103
2022,2,93
2022,1,92

# ðŸš€**16\. Identify Employees who Shipped Over 10 Orders in a Month**ðŸš€

<span style="color: #0000ff;">SELECT</span> EmployeeID, <span style="color: #795e26;">COUNT</span>(OrderID) <span style="color: #0000ff;">AS</span> OrdersShipped

<span style="color: #0000ff;">FROM</span> Orders

<span style="color: #0000ff;">GROUP BY</span> EmployeeID, <span style="color: #795e26;">MONTH</span>(OrderDate)

<span style="color: #0000ff;">HAVING</span> <span style="color: #795e26;">COUNT</span>(OrderID) <span style="color: #000000;">&gt;</span> <span style="color: #09885a;">10</span>

<span style="color: #0000ff;">ORDER BY</span> OrdersShipped <span style="color: #0000ff;">DESC</span>;

In [2]:
SELECT TOP 5 EmployeeID, COUNT(OrderID) AS OrdersShipped
FROM Orders
GROUP BY EmployeeID, MONTH(OrderDate)
HAVING COUNT(OrderID) > 10
ORDER BY OrdersShipped DESC;

EmployeeID,OrdersShipped
2,21
4,20
4,18
3,17
1,16

# ðŸš€**17\. To determine the sales performance by employee across different years usingÂ  Â  Â  Â  Â  Â  Â  Â  PIVOT**ðŸš€ðŸš€

<span style="color: #0000ff;">SELECT</span> <span style="color: #0000ff;">TOP</span> <span style="color: #09885a;">5</span>

Â  Â  EmployeeID,

Â  Â  \[2021\],

Â  Â  \[2022\],

Â  Â  \[2023\]

<span style="color: #0000ff;">FROM</span>

Â  Â  (

Â  Â  Â  Â  <span style="color: #0000ff;">SELECT</span>

Â  Â  Â  Â  Â  Â  EmployeeID,

Â  Â  Â  Â  Â  Â  <span style="color: #795e26;">YEAR</span>(OrderDate) <span style="color: #0000ff;">AS</span> OrderYear,

Â  Â  Â  Â  Â  Â  UnitPrice <span style="color: #000000;">*</span> Quantity <span style="color: #0000ff;">AS</span> Sales

Â  Â  Â  Â  <span style="color: #0000ff;">FROM</span>

Â  Â  Â  Â  Â  Â  Orders

Â  Â  Â  Â  <span style="color: #0000ff;">INNER JOIN</span>

Â  Â  Â  Â  Â  Â  OrderDetails

Â  Â  Â  Â  <span style="color: #0000ff;">ON</span>

Â  Â  Â  Â  Â  Â  Orders.OrderID <span style="color: #000000;">=</span> OrderDetails.OrderID

Â  Â  ) <span style="color: #0000ff;">AS</span> SourceTable

PIVOT

Â  Â  (

Â  Â  Â  Â  <span style="color: #795e26;">SUM</span>(Sales) <span style="color: #0000ff;">FOR</span> OrderYear <span style="color: #0000ff;">IN</span> (\[2021\], \[2022\], \[2023\])

Â  Â  ) <span style="color: #0000ff;">AS</span> PivotTable;

In [7]:
SELECT TOP 5
    EmployeeID, 
    [2021], 
    [2022], 
    [2023]
FROM 
    (
        SELECT 
            EmployeeID, 
            YEAR(OrderDate) AS OrderYear, 
            UnitPrice * Quantity AS Sales
        FROM 
            Orders 
        INNER JOIN 
            OrderDetails 
        ON 
            Orders.OrderID = OrderDetails.OrderID
    ) AS SourceTable
PIVOT 
    (
        SUM(Sales) FOR OrderYear IN ([2021], [2022], [2023])
    ) AS PivotTable;

EmployeeID,2021,2022,2023
9,11365.70,29577.55,42020.75
3,19231.80,111788.61,82030.89
6,17731.10,45992.00,14475.00
7,18104.80,66689.14,56502.05
1,38789.00,97533.58,65821.13

# ðŸš€**18\. To identify products that are low in stock using DECLARE function to set the minimum stock level**ðŸš€ðŸš€

<span style="color: #0000ff;">DECLARE</span> @MinStock <span style="color: #0000ff;">INT</span> <span style="color: #000000;">=</span> <span style="color: #09885a;">10</span>;

<span style="color: #0000ff;">SELECT</span> ProductID,

Â  Â  ProductName

<span style="color: #0000ff;">FROM</span>

Â  Â  Products

<span style="color: #0000ff;">WHERE</span>

Â  Â  UnitsInStock <span style="color: #000000;">&lt;</span> @MinStock;

In [6]:
DECLARE @MinStock INT = 10;

SELECT TOP 5
    ProductID, 
    ProductName
FROM 
    Products
WHERE 
    UnitsInStock < @MinStock;

ProductID,ProductName
5,Chef Anton's Gumbo Mix
8,Northwoods Cranberry Sauce
17,Alice Mutton
21,Sir Rodney's Scones
29,ThÃ¼ringer Rostbratwurst

# ðŸš€**19\. Combining customer information from two countries where the country is either 'USA' or 'UK' using UNION function**ðŸš€

<span style="color: #0000ff;">SELECT</span>

Â  Â  CustomerID,

Â  Â  CompanyName,

Â  Â  <span style="color: #a31515;">'US'</span> <span style="color: #0000ff;">AS</span> Country

<span style="color: #0000ff;">FROM</span>

Â  Â  Customers

<span style="color: #0000ff;">WHERE</span>

Â  Â  Country <span style="color: #000000;">=</span> <span style="color: #a31515;">'USA'</span>

<span style="color: #0000ff;">UNION</span>

<span style="color: #0000ff;">SELECT</span>

Â  Â  CustomerID,

Â  Â  CompanyName,

Â  Â  <span style="color: #a31515;">'UK'</span> <span style="color: #0000ff;">AS</span> Country

<span style="color: #0000ff;">FROM</span>

Â  Â  Customers

<span style="color: #0000ff;">WHERE</span>

Â  Â  Country <span style="color: #000000;">=</span> <span style="color: #a31515;">'UK'</span>;

In [8]:
SELECT
    CustomerID, 
    CompanyName, 
    'US' AS Country
FROM 
    Customers
WHERE 
    Country = 'USA'
UNION
SELECT 
    CustomerID, 
    CompanyName, 
    'UK' AS Country
FROM 
    Customers
WHERE 
    Country = 'UK';

CustomerID,CompanyName,Country
GREAL,Great Lakes Food Market,US
HUNGC,Hungry Coyote Import Store,US
LAZYK,Lazy K Kountry Store,US
LETSS,Let's Stop N Shop,US
LONEP,Lonesome Pine Restaurant,US
OLDWO,Old World Delicatessen,US
RATTC,Rattlesnake Canyon Grocery,US
SAVEA,Save-a-lot Markets,US
SPLIR,Split Rail Beer & Ale,US
THEBI,The Big Cheese,US
THECR,The Cracker Box,US
TRAIH,Trail's Head Gourmet Provisioners,US
WHITC,White Clover Markets,US
AROUT,Around the Horn,UK
BSBEV,B's Beverages,UK
CONSH,Consolidated Holdings,UK
EASTC,Eastern Connection,UK
ISLAT,Island Trading,UK
NORTS,North/South,UK
SEVES,Seven Seas Imports,UK

# ðŸš€**20\. Creating a comprehensive list of customers and employees using UNION ALLÂ  Â  Â  Â  Â  Â  Â  Â  Â function**ðŸš€ðŸš€

<span style="color: #0000ff;">SELECT</span> <span style="color: rgb(121, 94, 38);">CAST</span>(CustomerID <span style="color: rgb(0, 0, 255);">AS</span> <span style="color: rgb(0, 0, 255);">NVARCHAR</span>) <span style="color: rgb(0, 0, 255);">AS</span> ID,

Â  Â  CompanyName <span style="color: #0000ff;">AS</span> <span style="color: #0000ff;">Name</span>

Â  Â <span style="color: #0000ff;">FROM</span>

Â  Â  Customers

<span style="color: #0000ff;">UNION ALL</span>

<span style="color: #0000ff;">SELECT</span>

Â  Â  <span style="color: #795e26;">CAST</span>(EmployeeID <span style="color: #0000ff;">AS</span> <span style="color: #0000ff;">NVARCHAR</span>) <span style="color: #0000ff;">AS</span> ID,

Â  Â  FirstName <span style="color: #000000;">+</span> <span style="color: #a31515;">' '</span> <span style="color: #000000;">+</span> LastName <span style="color: #0000ff;">AS</span> <span style="color: #0000ff;">Name</span>

<span style="color: #0000ff;">FROM</span>

Â  Â  Employees;

In [17]:
SELECT TOP 2
    CAST(CustomerID AS NVARCHAR) AS ID, 
    CompanyName AS Name
   FROM 
    Customers
UNION ALL
SELECT 
    CAST(EmployeeID AS NVARCHAR) AS ID, 
    FirstName + ' ' + LastName AS Name
FROM 
    Employees;

ID,Name
ALFKI,Alfreds Futterkiste
ANATR,Ana Trujillo Emparedados y helados
1,Nancy Davolio
2,Andrew Fuller
3,Janet Leverling
4,Margaret Peacock
5,Steven Buchanan
6,Michael Suyama
7,Robert King
8,Laura Callahan
9,Anne Dodsworth

21. To find customers from Germany who ordered products over $100 within the last two years using WHERE clause with multiple conditions.

# ðŸš€**21\. To find customers from Germany who ordered products over $100 within the lastÂ  Â  Â  Â  Â  Â  Â  Â  two years using WHERE clause with multiple conditions**ðŸš€

<span style="color: #0000ff;">SELECT</span>

Â  Â  CustomerID,

Â  Â  CompanyName

<span style="color: #0000ff;">FROM</span>

Â  Â  Customers

<span style="color: #0000ff;">WHERE</span>

Â  Â  Country <span style="color: #000000;">=</span> <span style="color: #a31515;">'Germany'</span> Â 

Â  Â  <span style="color: #0000ff;">AND</span> CustomerID <span style="color: #0000ff;">IN</span> (

Â  Â  Â  Â  <span style="color: #0000ff;">SELECT</span> CustomerID

Â  Â  Â  Â  <span style="color: #0000ff;">FROM</span> Orders

Â  Â  Â  Â  <span style="color: #0000ff;">WHERE</span> OrderDate <span style="color: #000000;">&gt;=</span> <span style="color: #795e26;">DATEADD</span>(<span style="color: #0000ff;">year</span>, <span style="color: #000000;">-</span><span style="color: #09885a;">2</span>, <span style="color: #795e26;">GETDATE</span>())

Â  Â  Â  Â  <span style="color: #0000ff;">AND</span> <span style="color: #0000ff;">EXISTS</span> (

Â  Â  Â  Â  Â  Â  <span style="color: #0000ff;">SELECT</span> <span style="color: #09885a;">1</span>

Â  Â  Â  Â  Â  Â  <span style="color: #0000ff;">FROM</span> OrderDetails

Â  Â  Â  Â  Â  Â  <span style="color: #0000ff;">WHERE</span> OrderDetails.OrderID <span style="color: #000000;">=</span> Orders.OrderID

Â  Â  Â  Â  Â  Â  <span style="color: #0000ff;">AND</span> UnitPrice <span style="color: #000000;">*</span> Quantity <span style="color: #000000;">&gt;</span> <span style="color: #09885a;">100</span>

Â  Â  Â  Â  )

Â  Â  );

In [25]:
SELECT 
    CustomerID, 
    CompanyName
FROM 
    Customers
WHERE 
    Country = 'Germany'  
    AND CustomerID IN (
        SELECT CustomerID
        FROM Orders
        WHERE OrderDate >= DATEADD(year, -2, GETDATE())
        AND EXISTS (
            SELECT 1 
            FROM OrderDetails 
            WHERE OrderDetails.OrderID = Orders.OrderID
            AND UnitPrice * Quantity > 100
        )
    );

CustomerID,CompanyName
ALFKI,Alfreds Futterkiste
FRANK,Frankenversand
DRACD,Drachenblut Delikatessen
LEHMS,Lehmanns Marktstand
TOMSP,Toms SpezialitÃ¤ten
WANDK,Die Wandernde Kuh
QUICK,QUICK-Stop
OTTIK,Ottilies KÃ¤seladen
KOENE,KÃ¶niglich Essen
MORGK,Morgenstern Gesundkost
BLAUS,Blauer See Delikatessen

# ðŸš€**22\. Using conditional aggregate in select clause to determine total orders and high value orders**ðŸš€

<span style="color: #0000ff;">SELECT</span>Â  OrderID,

Â  Â  <span style="color: #795e26;">COUNT</span>(OrderID) <span style="color: #0000ff;">AS</span> TotalOrders,

Â  Â  <span style="color: #795e26;">SUM</span>(<span style="color: #0000ff;">CASE</span> <span style="color: #0000ff;">WHEN</span> UnitPrice <span style="color: #000000;">*</span> Quantity <span style="color: #000000;">&gt;</span> <span style="color: #09885a;">500</span> <span style="color: #0000ff;">THEN</span> <span style="color: #09885a;">1</span> <span style="color: #0000ff;">ELSE</span> <span style="color: #09885a;">0</span> <span style="color: #0000ff;">END</span>) <span style="color: #0000ff;">AS</span> HighValueOrders

<span style="color: #0000ff;">FROM</span>

Â  Â  OrderDetails

<span style="color: #0000ff;">GROUP BY</span>

Â  Â  OrderID;

In [27]:
SELECT TOP 5 
    OrderID, 
    COUNT(OrderID) AS TotalOrders, 
    SUM(CASE WHEN UnitPrice * Quantity > 500 THEN 1 ELSE 0 END) AS HighValueOrders
FROM 
    OrderDetails
GROUP BY 
    OrderID;

OrderID,TotalOrders,HighValueOrders
10248,3,0
10249,2,1
10250,3,1
10251,3,0
10252,3,2

# ðŸš€**23\. Using subquery with EXISTS to determine customers who have placed an orderÂ  Â  Â  Â  Â  Â  Â over $500**ðŸš€

<span style="color: #0000ff;">SELECT </span> CustomerID,

Â  Â  CompanyName

<span style="color: #0000ff;">FROM</span>

Â  Â  Customers

<span style="color: #0000ff;">WHERE</span>

Â  Â  <span style="color: #0000ff;">EXISTS</span> (

Â  Â  Â  Â  <span style="color: #0000ff;">SELECT</span> <span style="color: #09885a;">1</span>

Â  Â  Â  Â  <span style="color: #0000ff;">FROM</span> Orders o

Â  Â  Â  Â  <span style="color: #0000ff;">JOIN</span> OrderDetails d <span style="color: #0000ff;">ON</span> o.OrderID <span style="color: #000000;">=</span> d.OrderID

Â  Â  Â  Â  <span style="color: #0000ff;">WHERE</span>

Â  Â  Â  Â  Â  Â  o.CustomerID <span style="color: #000000;">=</span> Customers.CustomerID

Â  Â  Â  Â  Â  Â  <span style="color: #0000ff;">AND</span> d.UnitPrice <span style="color: #000000;">*</span> d.Quantity <span style="color: #000000;">&gt;</span> <span style="color: #09885a;">500</span>

Â  Â  );

In [29]:
SELECT TOP 5 
    CustomerID, 
    CompanyName
FROM 
    Customers
WHERE 
    EXISTS (
        SELECT 1 
        FROM Orders o
        JOIN OrderDetails d ON o.OrderID = d.OrderID
        WHERE 
            o.CustomerID = Customers.CustomerID
            AND d.UnitPrice * d.Quantity > 500
    );

CustomerID,CompanyName
BLONP,Blondesddsl pÃ¨re et fils
SEVES,Seven Seas Imports
OLDWO,Old World Delicatessen
THEBI,The Big Cheese
FRANS,Franchi S.p.A.

# ðŸš€**24\. To create a view for the employees and their total orders using "CREATE TABLE"**ðŸš€

CREATE OR ALTER VIEW EmployeeOrderCount AS

SELECTÂ 

Â  Â  e.EmployeeID,

Â  Â  e.FirstName,

Â  Â  e.LastName,

Â  Â  COUNT(o.OrderID) AS TotalOrders

FROMÂ 

Â  Â  Employees e

LEFT JOINÂ 

Â  Â  Orders o ON e.EmployeeID = o.EmployeeID

GROUP BYÂ 

Â  Â  e.EmployeeID, e.FirstName, e.LastName;

In [40]:
CREATE OR ALTER VIEW EmployeeOrderCount AS
SELECT 
    e.EmployeeID,
    e.FirstName,
    e.LastName,
    COUNT(o.OrderID) AS TotalOrders
FROM 
    Employees e
LEFT JOIN 
    Orders o ON e.EmployeeID = o.EmployeeID
GROUP BY 
    e.EmployeeID, e.FirstName, e.LastName;

# ðŸš€**25\. To determine the average order discount by product category**ðŸš€

<span style="color: #0000ff;">SELECT</span> Â  c.CategoryName,

Â  Â  <span style="color: #795e26;">AVG</span>(od.Discount) <span style="color: #0000ff;">AS</span> AvgDiscount

<span style="color: #0000ff;">FROM</span>

Â  Â  \[OrderDetails\] od

<span style="color: #0000ff;">JOIN</span>

Â  Â  Products p <span style="color: #0000ff;">ON</span> od.ProductID <span style="color: #000000;">=</span> p.ProductID

<span style="color: #0000ff;">JOIN</span>

Â  Â  Categories c <span style="color: #0000ff;">ON</span> p.CategoryID <span style="color: #000000;">=</span> c.CategoryID

<span style="color: #0000ff;">GROUP BY</span>

Â  Â  c.CategoryName;

In [33]:
SELECT TOP 5 
    c.CategoryName, 
    AVG(od.Discount) AS AvgDiscount
FROM 
    [OrderDetails] od
JOIN 
    Products p ON od.ProductID = p.ProductID
JOIN 
    Categories c ON p.CategoryID = c.CategoryID
GROUP BY 
    c.CategoryName;

CategoryName,AvgDiscount
Seafood,0.0602424250802759
Meat/Poultry,0.06445086779708119
Condiments,0.0526388897733004
Confections,0.0569461086474939
Produce,0.04544117719428066